<!-- Отделы -->
<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Отделы</title>
	<link rel="icon" href="/resource/icon/logo.ico">

	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.7.2/css/all.css">

	<link rel="stylesheet" href="/resource/css/style.css">

</head>
<body>
	<div class="container">
		<div class="header">
			<div id="nav-icon6">
			    <span></span>
			</div>

			<div class="header__1">
				<div class="selectLang" style="display:flex;justify-content: space-between;width:150px;">
					<a href="#" class="link active" style="margin: 0;">Рус</a>
					<a href="#" class="link" style="margin: 0;">Кыр</a>
				</div>
				<div class="contact" style="display: flex; align-items: center;">
					<img src="/resource/icon/phone.png" alt="" class="icon">
					<span style="font-size: 24px; color: #2E54A9; margin-left: 5px; margin-right: 20px;">+996 (312) 66-57-25</span>
					<img src="/resource/icon/location.png" alt="" class="icon">
					<span style="font-size: 24px; color: #2E54A9; margin-left: 5px;">г.Бишкек, ул. Ж.Абдрахманова 170 А</span>
				</div>
				<div class="socWeb">
					<a href=""><img src="/resource/icon/facebook.png" alt="" class="icon"></a>
					<a href=""><img src="/resource/icon/instagram.png" alt="" class="icon"></a>
					<a href=""><img src="/resource/icon/telegram.png" alt="" class="icon"></a>
				</div>
			</div>
			<div class="header__nav">
				<a href="/index.html" class="link">Главная</a>
				<a href="/templates/Book-catalog/index.html" class="link">Книги</a>
				<a href="/templates/Chronicles/index.html" class="link">Летописи</a>
				<a href="/templates/News/index.html" class="link">Новости</a>
				<a href="/templates/Departments/index.html" class="link active">Отделы</a>
				<a href="/templates/Online-services/index.html" class="link">Online услуги</a>
				<a href="/templates/About-us/index.html" class="link">О нас</a>
				<a href="/Contacts.html" class="link">Контакты</a>
				<a href="/Application.html" class="link">Подача заявки</a>
			</div>
		</div>
		<div id="burger">
			<div>
				<a href="/index.html" class="link">Главная</a>
				<a href="/templates/Book-catalog/index.html" class="link">Книги</a>
				<a href="/templates/Chronicles/index.html" class="link">Летописи</a>
				<a href="/templates/News/index.html" class="link">Новости</a>
				<a href="/templates/Departments/index.html" class="link active">Отделы</a>
				<a href="/templates/Online-services/index.html" class="link">Online услуги</a>
				<a href="/templates/About-us/index.html" class="link">О нас</a>
				<a href="/Contacts.html" class="link">Контакты</a>
				<a href="/Application.html" class="link">Подача заявки</a>
			</div>
			<div class="sectionPadding"></div>
			<footer>
				<div>
					<p>
						г. Бишкек, ул. Ж.Абдрахманова 170 А
						<br>
						<br>
						kitep.palatasy@mail.ru
						<br>
						<br>
						+996 (312) 66-57-25
					</p>

					<img src="/resource/icon/logo.png" alt="">

					<div class="footerContants">
						<a href=""><img src="/resource/icon/footerFacebook.png" alt=""></a>
						<a href=""><img src="/resource/icon/footerInstagram.png" alt=""></a>
						<a href=""><img src="/resource/icon/footerTelegram.png" alt=""></a>
					</div>
				</div>
				<span>© 2026 Государственная книжная палата при Министерстве культуры, информации и молодежной политики Кыргызской Республики</span>
			</footer>
		</div>

		<div class="banner">
			<img src="/resource/MainBan.png" alt="">
		</div>

		<div class="main">
			<div class="sectionPadding"></div>

			<section class="section__dep">
				<div class="section__dep-left">
					<div class="depBox active" id="depBox-1">
						<span>Отдел приема обязательного экземпляра и книгораспространения</span>
					</div>
					<div class="depBox" id="depBox-2">
						<span>Отдел национальной библиографии</span>
					</div>
					<div class="depBox" id="depBox-3">
						<span>Отдел каталогизации и стандартизации</span>
					</div>
					<div class="depBox" id="depBox-4">
						<span>Отдел ретроспекции, статистики и архива печати</span>
					</div>
					<div class="depBox" id="depBox-5">
						<span>Отдел международного сотрудничества</span>
					</div>
				</div>

				<div class="section__dep-right">
					<p id="depDesc-1">
						Отдел приема обязательного экземпляра и книгораспространения — это главное структурное подразделение Государственной книжной палаты, выполняющее функции в области получения, регистрации, контроля и распределения обязательных изданий всех видов.
						<br>
						<br>
						В своей деятельности отдел руководствуется Законами Кыргызской Республики: «Об обязательном экземпляре документов», «Об издательском деле», Кодексом Кыргызской Республики «Об административной ответственности», а также другими нормативно-правовыми актами в области учёта, приёма, контроля и распределения печатных изданий.
						<br>
						<br>
						<strong>Основные задачи и функции отдела</strong>
						<br>
						<br>
						Основные задачи отдела — это приём, учёт, отбор, регистрация, распределение и контроль за поступлением произведений печати всех видов, выпущенных на территории государства. На базе бесплатного обязательного экземпляра изданий отдел формирует основной архивный фонд Книжной палаты, библиотечно-информационные фонды библиотек и научных учреждений.
						<br>
						<br>
						<strong>В соответствии с поставленными задачами отдел осуществляет следующие функции:</strong>
						<br>
						<br>
						• Контроль за полнотой доставки печатной продукции и соблюдением стандартов изданий полиграфическими и издательскими организациями республики независимо от формы собственности;
						<br>
						• Обеспечение своевременного и полного поступления обязательных экземпляров документов всех видов, выпущенных на территории республики и за её пределами;
						<br>
						• Видовой отбор печатных изданий в соответствии с Инструкцией «по отбору изданий для регистрации отражения в летописях»;
						<br>
						• Государственная регистрация обязательных экземпляров документов в соответствии с видами учетной документации;
						<br>
						• Передача системы обязательного экземпляра документов другим отделам Книжной палаты для дальнейшей библиографической и статистической обработки;
						<br>
						• Контроль за выполнением Закона «Об обязательном экземпляре документов» и других нормативных актов в сфере доставки обязательного экземпляра, включая проверки организаций любой формы собственности;
						<br>
						• Распределение печатных изданий между библиотечными и другими учреждениями;
						<br>
						• Организация и проведение ежегодного национального конкурса «Искусство книги»;
						<br>
						• Организация и проведение ежегодной книжной выставки-ярмарки 23 апреля — Всемирный день книги и авторского права совместно с Министерством культуры, информации, спорта и молодежной политики КР.
						<br>
					</p>
					<p id="depDesc-2" style="display: none;">
						Отдел национальной библиографии является главным структурным подразделением Государственной книжной палаты, выполняющим определенные функции в области государственного библиографического дела, выпуска библиографических указателей-летописей.
						<br>
						<br>
						Основной задачей отдела является государственная библиографическая регистрация всех произведений печати, выходящих на территории государства. На этой основе выпускаются государственные библиографические указатели-летописи, которые образуют систему изданий, дающих полное представление о произведениях печати, выходящих в Кыргызской Республике.
						<br>
						<br>
						<strong>Исходя из основных задач, отдел национальной библиографии осуществляет следующие функции:</strong>
						<br>
						<br>
						• Полный библиографический учет произведений печати, изданных на территории Кыргызской Республики;
						<br>
						• Создание на этой основе государственной библиографической информации, являющейся основой для всех других видов научно-информационной и библиографической деятельности;
						<br>
						• Установление авторитетных данных при создании государственной библиографической информации;
						<br>
						• Обеспечение государственной библиографиче- повышение эффективности библиографических изданий, внедрение в практику результатов, проведенных теоретических исследований и достижений современного опыта в области библиографии;ацией библиотечно-информационные организации и научные учреждения, ученых, специалистов органов государственной власти, науки, культуры, производства и других сфер общественной жизни;
						<br>
						• Подготовка и выпуск государственных библиографических указателей-летописей.
					</p>
					<p id="depDesc-3" style="display: none;">
						Отдел стандартизации и каталогизации изданий Государственной книжной палаты Кыргызской Республики выполняет функции Национальных агентств ISBN (с 1996 года) и ISMN (с 2008 года), а также Национального центра ISSN (с 2003 года).
						<br>
						<br>
						Отдел осуществляет руководство и координацию работы по присвоению международных стандартных номеров книжных, сериальных и музыкальных изданий в Кыргызской Республике.
						<br>
						<br>
						<strong>Основные направления деятельности включают:</strong>
						<br>
						<br>
						Регистрацию, учёт и контроль издателей, получающих стандартные номера на книжную продукцию;
						<br>
						Передачу данных в Международное агентство ISBN в Лондоне для включения в «Международный справочник издателей»;
						<br>
						Ввод библиографической информации о периодических изданиях в международную базу данных ISSN;
						<br>
						Оформление ISMN — международных стандартных номеров для национальных музыкальных и нотных изданий;
						<br>
						Подготовку и выполнение библиографических справок по запросам государственных органов, научных учреждений, общественных организаций и издательств;
						<br>
						Ведение системы каталогов и картотек, отражающих все виды публикаций, вышедших в республике на всех языках с 1910 года по настоящее время;
						<br>
						Редактирование и оформление макетов библиотечных карточек и каталогов.
						<br>
						Деятельность отдела направлена на обеспечение единых стандартов учёта, регистрации и международной идентификации всех видов печатной продукции, выпускаемой в Кыргызской Республике.
					</p>
					<p id="depDesc-4" style="display: none;">
						Отдел ретроспекции, статистики и архива изданий Государственной книжной палаты Кыргызской Республики действует на основании специально утверждённого Положения.
						<br>
						<br>

						Отдел осуществляет свою деятельность в соответствии с законами Кыргызской Республики, нормативными актами Министерства культуры, информации и молодежной политики Кыргызской Республики, Положением Книжной палаты Кыргызской Республики, а также приказами и указаниями директора Книжной палаты.
						<br>
						<br>
						Основная задача отдела — предоставление библиографической информации о произведениях национальной печати за определённые прошедшие периоды, а также полных и достоверных статистических данных о производстве различных видов изданий на территории Кыргызской Республики.
						<br>
						В круг обязанностей отдела также входит предоставление Национальному статистическому комитету Кыргызской Республики официальных данных о выпуске печатной продукции, а также обеспечение сохранности и пополнения архивного фонда национальной печати в рамках национального и мирового культурного наследия.
						<br>
						Организация работы отдела осуществляется на основании трудового законодательства Кыргызской Республики. Сотрудники отдела назначаются и освобождаются от должности приказом директора Книжной палаты. Руководитель и специалисты отдела выполняют свои обязанности в соответствии с Трудовым и Гражданским кодексами, действующими нормативными документами, правилами внутреннего трудового распорядка и функциональными обязанностями.
					</p>
					<p id="depDesc-5" style="display: none;">
						Отдел международного сотрудничества был сформирован в марте 2008 года и осуществляет деятельность по координации международных связей в области национальной печати.
						<br>
						Основное направление работы отдела — развитие и укрепление международного взаимодействия Государственной книжной палаты Кыргызской Республики, участие в интеграционных процессах в рамках Содружества Независимых Государств и взаимодействие с зарубежными партнёрами.
						<br>
						<br>
						Отдел представляет Кыргызскую Республику в Межгосударственном совете по сотрудничеству в области периодической печати, книгоиздания, книгораспространения и полиграфии государств–участников СНГ , а также активно сотрудничает с Исполнительным комитетом СНГ.
						<br>
						<br>
						В сферу деятельности отдела входит координация вопросов по налаживанию и поддержанию системы общественных связей с международными организациями, ассоциациями и агентствами ISBN, ISSN и ISMN в области печати и издательского дела.
						<br>
						Отдел также организует и проводит встречи, переговоры и консультации с представителями зарубежных стран по вопросам информационного обмена и взаимодействия с международными организациями и партнёрскими структурами других государств.
					</p>
				</div>
			</section>

			<div class="sectionPadding"></div>
		</div>
	</div>
	
	<footer>
		<div>
			<p>
				г. Бишкек, ул. Ж.Абдрахманова 170 А
				<br>
				<br>
				kitep.palatasy@mail.ru
				<br>
				<br>
				+996 (312) 66-57-25
			</p>

			<img src="/resource/icon/logo.png" alt="">

			<div class="footerContants">
				<a href=""><img src="/resource/icon/footerFacebook.png" alt=""></a>
				<a href=""><img src="/resource/icon/footerInstagram.png" alt=""></a>
				<a href=""><img src="/resource/icon/footerTelegram.png" alt=""></a>
			</div>
		</div>
		<span>© 2026 Государственная книжная палата при Министерстве культуры, информации и молодежной политики Кыргызской Республики</span>
	</footer>
	<script src="/resource/js/burger.js"></script>

	<script>
		const depBoxes = document.querySelectorAll('[id^="depBox-"]');
		const depDescs = document.querySelectorAll('[id^="depDesc-"]');

		depBoxes.forEach((box, index) => {
			box.addEventListener('click', () => {
				depBoxes.forEach(item => item.classList.remove('active'));
				depDescs.forEach(item => item.style.display = 'none');

				box.classList.add('active');
				depDescs[index].style.display = '';
			});
		});
	</script>
</body>
</html>