* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Roboto", sans-serif;
	transition: 0.3s;
/*	outline: 1px solid red;*/
}

@font-face {
  font-family: 'Roboto';
  src: url(/resource/Roboto/Roboto.ttf) format('truetype');
}

body {
	width: 100%;
	height: auto;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 auto;
	width: 1500px;
	min-height: 100vh;
	padding: 0 10px;
}

.container > div {
	width: 100%;
}

#nav-icon6 {
	display: none;
}

.header__1 {
	width: 100%;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: space-between;

}

.contact {
	display: flex;
	align-items: center;
}

.contact > span {
	font-size: 24px;
	color: #2E54A9; 
	margin-left: 10px;
}

.socWeb {
	justify-content: center;
}

.socWeb > a > img {
	width: 40px;
	height: 40px;
}

.socWeb > a:nth-child(2) > img {
	margin: 0 5px;
}


.banner {
	width: 100%;
	margin: 20px 0;
}

.banner > img {
	width: 100%;
	aspect-ratio: 1500 / 150;
	border-radius: 25px;
}


.header__nav {
	display: flex;
	justify-content: center;
	margin-top: 10px;
}

.link {
	min-width: 70px;
	padding: 7px 12px;
	border: 2px solid #2E54A9;
	border-radius: 50px;
	text-align: center;
	margin: 0 10px;
	font-size: 20px;
	text-decoration: none;
	color: #2E54A9;
	cursor: pointer;
}

button.link {
	background-color: #fff;
}

a[href="/Application.html"] {
	border: 2px solid #C11B1B;
	color: #C11B1B;
}

a[href="/Application.html"].link.active {
	border: 2px solid #C11B1B;
	background-color: #C11B1B;
	color: #fff;
}

a[href="/Application.html"]:hover {
	border: 2px solid #C11B1B;
	background-color: #C11B1B;
	color: #fff;
}

.link.active,
.BNB.active,
.link:hover,
.BNB:hover {
	background-color: #2E54A9;
	color: #fff;
}

.icon {
	width: 40px;
	height: 40px;
	cursor: pointer;
}

/* Sections */

.sectionPadding {
	height: 60px;
}

.section-top {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 60px;
}

.section-top > span {
	font-size: 40px;
	color: #345CB5;
}

.section__1 {
	width: 100%;
	position: relative;
}

.section__3,
.section__4 {
	overflow-x: hidden;
}

.bannerInteractive {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.bannerArrows {
	width: 100%;
	display: flex;
	justify-content: space-between;
	padding: 0 25px;
	align-items: center;
}

.bannerArrows > i {
	background-color: #2E54A9;
	color: #fff;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	font-size: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 0.7;
	cursor: pointer;
	transition: 0.3s;
}

.bannerArrows > i:hover {
	opacity: 1;
}

.BanNavButtons {
	width: 100%;
	display: flex;
	justify-content: center;
	position: absolute;
	bottom: 10px;
}
.BNB {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-color: #999;
	margin: 0 2.5px;
	cursor: pointer;
}

.banners {
	width: 100%;
	display: grid;
}

.banners > img {
	grid-area: 1 / 1;
	width: 100%;
	aspect-ratio: 1480 / 400;
	border-radius: 25px;
	top: 0;
	left: 0;
}

.section__2-block {
	background-color: #F4F7FF;
	width: 100%;
	height: 100%;
	border-radius: 25px;
	padding: 20px;
}

.newsBox {
	display: flex;
}

.newsBox > img {
	width: 222px;
	max-height: 125px;
	aspect-ratio: 16/9;
	border-radius: 25px;
	border: 2px solid #2E54A9;
	margin-right: 20px;
}

.newsBoxInfo {
	display: flex;
	flex-direction: column;
	font-size: 16px;
	text-align: justify;
	width: 100%;
}

.newsBoxTitle {
	color: #3259B2;
	font-weight: 700;
}

.newsBoxDesc {
	margin: 10px 0;
}

.newsBoxDate {
	padding: 7px 12px;
	color: #2E54A9;
	width: 120px;
	text-align: center;
	align-self: flex-end;
	margin-top: auto;
}

.newsBox.elBlock {
	margin-bottom: 20px;
}

.NewsPage {
	display: flex;
	flex-direction: column;
}

.NewsPage > img {
	width: 70%;
	margin: 0 auto;
	aspect-ratio: 16 / 9;
	border-radius: 25px;
	border: 2px solid #2E54A9;
}

.newsImgs {
	display: flex;
	width: calc(70% + 10px);
	margin: 10px auto 0 auto;
}

.newsImgs > img {
	width: calc(100% / 4 - 10px);
	margin: 0 5px;
	display: flex;
	aspect-ratio: 16 / 9;
	border-radius: 25px;
	border: 2px solid #2E54A9;
	cursor: pointer;
}

.newsImgs > img:first-child {
	margin: 0 5px 0 0;
}

.newsImgs > img:last-child {
	margin: 0 0 0 5px;
}

.NewsPage > span {
	color: #2E54A9;
	font-size: 36px;
	font-weight: 700;
}

.NewsPage > p {
	color: #000;
	font-size: 20px;
	text-align: justify;
}

.NewsPage-bottom {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.NewsPage-bottom > div {
	width: 405px;
	display: flex;
	justify-content: space-between;
	margin-top: 10px;
}

.NewsPage-bottom > span {
	color: #2E54A9;
	font-size: 20px;
	text-align: justify;
}

.NewsPage-bottom > div > button {
	padding: 7px 12px;
	width: 197.5px;
	height: 39px;
	border: 2px solid #2E54A9;
	background-color: #fff;
	border-radius: 25px;
	color: #2E54A9;
	font-size: 20px;
	cursor: pointer;
}

.YandexMap {
	width: 100%;
	aspect-ratio: 1480 / 390;
	border-radius: 25px;
	border: 2px solid #2E54A9;
}

.NewsPage-bottom > div > button:hover {
	background-color: #2E54A9;
	color: #fff;
}

.libList {
	display: flex;
	justify-content: space-between;
}

.sectionArrows {
	width: 90px;
	display: flex;
	justify-content: space-between;
	align-items: center;

}
.sectionArrows > i {
	background-color: #2E54A9;
	color: #fff;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	font-size: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 0.7;
	cursor: pointer;
	transition: 0.3s;
}

.sectionArrows > i:hover {
	opacity: 1;
}

.listEl {
	display: flex;
	flex-direction: column;
	text-align: center;
	margin: 5px;
	width: 197px;
}

.listEl > img {
    width: 197px;
    height: 253px;
/*    aspect-ratio: 197 / 253;*/
    object-fit: cover;
    margin-bottom: 10px;
}

.listEl > span {
	color: #2E54A9;
	font-size: 16px;
}

.questBox {
	background-color: #E6EAF5;
	margin: 10px 0;
	padding: 7px 12px;
	border-radius: 25px;
	width: 100%;
	position: relative;
	cursor: pointer;
}

.questBox > span {
	font-size: 24px;
	color: #345CB5;
}

.questBox > p {
	font-size: 16px;
	color: #585858;
	padding: 15px;
	background-color: #F4F7FF;
	left: 0;
	bottom: 0;
	border-radius: 25px;
	margin-top: 5px;
	text-align: justify;
}

.section__dep {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.section__dep-left {
	display: flex;
	flex-direction: column;
	width: calc(40% - 5px);
}

.section__dep-right {
	display: flex;
	flex-direction: column;
	width: calc(60% - 5px);
	color: #2E54A9;
	text-align: justify;
}

.depBox {
	background-color: #fff;
	margin: 0 5px 10px 5px;
	padding: 7px 12px;
	border: 2px solid #2E54A9;
	border-radius: 25px;
	cursor: pointer;
	font-size: 16px;
	color: #345CB5;
	width: calc(100% / 5 - 10px);
}

.depBox > span {
	width: 100%;
}

.depBox.active {
	background-color: #2E54A9;
	color: #fff;
}

.hidden,
.elBlock.hidden {
    display: none;
}

.bookCatalog {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.elBook {
	display: flex;
	margin-bottom: 20px;
	width: calc(50% - 10px);
}

.elBook > img {
	min-width: 136px;
	max-width: 136px;
	height: 175px;
	margin-right: 20px;
}

.elBookInfo {
	width: 100%;
	font-size: 16px;
	color: #3158B0;
	display: flex;
	flex-direction: column;
	text-align: justify;
}

.elBookInfo > a {
	margin-top: auto;
}

.pagination {
	display: flex;
	justify-content: center;
	width: 100%;
}

.pagination > button {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 42px;
	height: 42px;
	font-size: 24px;
	color: #fff;
	background-color: #CAD7F3;
	border: none;
	border-radius: 5px;
	margin: 0px 5px;
	cursor: pointer;
}

.pagination > button:hover,
.pagination > button.active {
	color: #fff;
	background-color: #2E54A9;
}

.pagination > button.disabled {
	pointer-events: none;
}

/* Подача заявки  */

.AppPage {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 100%;
}

#Application,
.AppInfo > div {
	border-radius: 25px;
	display: flex;
	flex-direction: column;
	padding: 10px 20px 20px 20px;
	background-color: #F4F7FF;
}

#Application {
	width: 1060px;
	height: 740px;
}

#Application > span {
	font-size: 24px;
	color: #345CB5;
	margin: 10px 0;
}

#Application input,
#Application textarea {
	background-color: #fff;
	font-size: 16px;
	padding: 10px 15px;
	border: 2px solid #3157AE;
	border-radius: 25px;
}

#Application input::placeholder,
#Application textarea::placeholder {
	color: #B5B5B5;
}

.threeField,
.soloField {
	display: flex;
	justify-content: space-between;
	margin-bottom: 10px;
}

.threeField span,
.soloField span{
	font-size: 20px;
	color: #4D4D4D;
	margin: 10px 0;
}

.threeField > div,
.soloField > div {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.threeField > div:nth-child(2){
	margin: 0 10px;
}

.threeField input {
	width: 100%;
}

.soloField input {
	width: 100%;
}

.downloadFiles {
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin: 10px 0;
}

.downloadFiles > div {
	background-color: #fff;
	border: 2px solid #3157AE;
	border-radius: 25px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: calc(50% - 5px);
	height: 115px;
	overflow: hidden;
	cursor: pointer;
}

.downloadFiles > div > img {
	height: 130%;
	pointer-events: none;
}

#submitBtn {
	width: 320px;
	height: 50px;
	font-size: 24px;
	background-color: #3157AE;
	border-radius: 25px;
	color: #fff;
	padding: 7px 12px;
	margin: 0 auto;
	cursor: pointer;
	border: none;
}

.AppInfo {
	width: 410px;
}

.AppInfo > div {
	height: 365px;
	margin-bottom: 10px;
}

.AppInfo > div > span {
	color: #345CB5;
	font-size: 24px;
	margin-top: 10px;
}

.AppInfo > div > div {
	width: 100%;
	height: 60px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.AppInfo > div > div > img {
	width: 44px;
	height: 44px;
	margin-right: 10px;
}

.AppInfo > div > div > span {
	font-size: 24px;
	min-width: 40px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #3157AE;
	border-radius: 50%;
	color: #fff;
}

.AppInfo > div > div > div {
	width: 240px;
}

.AppInfo > div > div > div > span {
	color: #3055AC;
	font-size: 16px;
}

.AppInfo > div > div > div > p {
	color: #4D4D4D;
	font-size: 16px;
}

/* Якорь */

footer {
	width: 100%;
	height: 250px;
	display: flex;
	flex-direction: column;
	background-color: #3A64C3;
}

footer > div {
/*	max-width: 1500px;*/
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	font-size: 24px;
	color: #fff;
	margin: 0 auto;
	overflow: hidden;
	padding: 0 10px;
}

footer > div > img {
	width: 300px;
}

footer > span {
	width: 100%;
	background-color: #283F74;
	text-align: center;
	padding: 5px 0;
	font-size: 24px;
	color: #fff;
}

.footerContants > a > img {
	width: 50px;
	height: 50px;
}

/* BURGER  */

#burger {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #222;
    transform: translateY(calc(-100% - 40px));
    transition: .3s;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#burger.open {
    transform: translateY(0%);
}

#burger > div {
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}

#burger > div > h2,
#burger > div > a,
#burger__portfolio > a {
    padding: 5px 10px;
    font-size: 20px;
    font-weight: normal;
    color: #fff;
    font-family: 'Unbounded';
    margin: 5px 0;
}

#burger__portfolio {
    display: flex;
    flex-direction: column;
    padding: 0 10px;
    transition: .3s;
}

#burger__portfolio > a {
    transform: translateX(-100%);
}

#burger > #footer {
    padding: 0;
}

#nav-icon6 {
	position: fixed;
	z-index: 1000;
    width: 29px;
    height: 29px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition-duration: 1s;
    cursor: pointer;
    margin: 10px;
    justify-self: flex-end;
}
#nav-icon6 span {
    height: 4px;
    width: 24px;
    background-color: #2E54A9;
    border-radius: 20px;
    position: absolute;
    transition-duration: .25s;
    transition-delay: .25s;    
}
#nav-icon6 span:before {
    left: 0;
    position: absolute;
    top: -10px;
    height: 4px;
    width: 24px;
    background-color: #2E54A9;
    content: "";
    border-radius: 20px;
    transition-duration: .25s;
    transition: transform .25s, top .25s .25s;
}
#nav-icon6 span:after {
    left: 0;
    position: absolute;
    top: 10px;
    height: 4px;
    width: 24px;
    background-color: #2E54A9;
    content: "";
    border-radius: 20px;
    transition-duration: .25s;
    transition: transform .25s, top .25s .25s;
}
#nav-icon6.open span {
    transition-duration: 0.1s;
    transition-delay: .25s;
    background: transparent;
}
#nav-icon6.open span:before {
    transition: top .25s, transform .25s .25s;
    top: 0px;
    transform: rotateZ(-45deg);
}
#nav-icon6.open span:after {
    transition: top 0.4s, transform .25s .25s;
    top: 0px;
    transform: rotateZ(45deg);
}

/* ADAPTIVE */

@media (min-width: 1024px){
	#nav-icon6 {
		display: none;
	}
}

@media (max-width: 768px){
	.container {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin: 0px auto;
		max-width: 768px;
		width: 100%;
		min-height: 100vh;
	}

	.contact, .socWeb {
		display: none;
	}

	.header__2 {
		width: calc(100% - 20px);
		border-radius: 25px;
		margin: 10px;
	}

	.header__nav {
		display: none;
	}

	.sectionPadding {
		height: 20px;
	}

	.section-top {
		margin-bottom: 20px;
	}

	.section-top > span {
		font-size: 24px;
	}

	.sectionArrows {
		display: none;
	}

	.section__1 {
/*		padding: 0px 10px;*/
	}

	.bannerArrows {
		display: none;
	}

	.BanNavButtons {
		bottom: 5px;
	}
	.BNB {
		width: 15px;
		height: 15px;
	}

	.elBlock {
		display: flex;
		flex-direction: column;
		margin-bottom: 20px;
		width: 100%;
	}

	.elBlock > img,
	.newsBox > img {
		margin-bottom: 10px;
	}

	.newsBox {
		flex-direction: column;
	}

	.NewsPage > span {
	    color: #2E54A9;
	    font-size: 24px;
	}

	.libList {
		overflow-x: auto;
	}

	.listEl {
		min-width: 98.5px;
		height: auto;
		width: 100%;
	}

	.listEl > img {
		width: 98.5px;
		height: 126.5px;
	}

	.listEl > span {
		color: #2E54A9;
		font-size: 16px;
	}

	footer {
		padding: 0 0px;
	}

	footer > div {
		font-size: 16px;
		color: #fff;
		margin: 0 auto;
		overflow: hidden;
		display: flex;
	}

	footer > div > img {
		width: calc(50% - 10px);
	}

	footer > span {
		font-size: 14px;
	}

	.footerContants > a > img {
		width: 30px;
		height: 30px;
	}

	.AppPage {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		width: 100%;
	}

	#Application,
	.AppInfo > div {
		border-radius: 25px;
		display: flex;
		flex-direction: column;
		padding: 10px ;
		background-color: #F4F7FF;
	}

	#Application {
		width: 1060px;
		height: auto;
	}

	.threeField,
	.soloField {
		display: flex;
		flex-direction: column;
		margin-bottom: 10px;
	}

	.threeField > div,
	.soloField > div {
		display: flex;
		flex-direction: column;
		width: 100%;
	}

	.threeField > div:nth-child(2){
		margin: 0;
	}

	.threeField input {
		width: 100%;
	}

	.soloField input {
		width: 100%;
	}

	.downloadFiles {
		width: 100%;
		display: flex;
		justify-content: space-between;
		margin: 10px 0;
	}

	.downloadFiles > div {
		background-color: #fff;
		border: 2px solid #3157AE;
		border-radius: 25px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: calc(50% - 5px);
		height: 115px;
		overflow: hidden;
		cursor: pointer;
	}

	.downloadFiles > div > img {
		width: 100%;
	}

	.AppInfo {
		width: 100%;
		display: flex;
		justify-content: space-between;
	}

	.AppInfo > div {
		width: calc(100% / 2 - 5px);
		height: auto;
		margin-bottom: 10px;
	}

	.AppInfo > div > span {
		color: #345CB5;
		font-size: 24px;
		margin-top: 0;
	}

	.AppInfo > div > div > span {
		margin-right: 10px;
	}

	.AppInfo > div > div > img {
		width: 36px;
		height: 36px;
		margin-right: 10px;
	}

	.AppInfo > div > div > span {
		min-width: 32px;
		height: 32px;
		margin-right: 10px;
	}

	.section__dep {
		flex-direction: column;
	}

	.section__dep-left,
	.section__dep-right {
		width: 100%;
	}

	.depBox {
		width: 100%;
		margin: 0 0 10px 0;
	}

}

@media (max-width: 480px){
	.container {
		max-width: 480px;
	}

	.AppInfo {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	.AppInfo > div {
		width: 100%;
		height: auto;
		margin-bottom: 10px;
	}

	.AppInfo > div > span {
		color: #345CB5;
		font-size: 24px;
		margin-top: 0;
	}
	
	.newsBox > img {
		width: 100%;
		max-height: 100%;
	}

	.YandexMap {
		width: 100%;
		aspect-ratio: 1 / 1;
		border-radius: 25px;
		border: 2px solid #2E54A9;
	}

	.NewsPage-bottom > div {
		width: 100%;

	}

	.NewsPage-bottom > div > button {
		width: calc(100% / 2 - 5px);
	}

	.footerContants {
		display: none;
	}

	.newsImgs {
		justify-content: flex-start;
	}

	.NewsPage > img {
		width: 100%;
	}

	.newsImgs {
		width: calc(100% + 10px);
		margin: 10px auto 0 auto;
	}

}