<!-- СТРАНИЦА НОВОСТИ -->
<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title data-lang='titleNews'>Новость</title>
	<link rel="icon" href="/resource/icon/logo.ico">

	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.7.2/css/all.css">

	<link rel="stylesheet" href="/resource/css/style.css">
</head>
<body>
	<div class="container">
		<div class="header">
			<div id="nav-icon6">
			    <span></span>
			</div>

			<div class="header__1">
				<div class="selectLang" style="display:flex;justify-content: space-between;width:145px;">
					<button onclick="setLanguage('RU')" class="link active RU" style="margin: 0;">Рус</button>
					<button onclick="setLanguage('KY')" class="link KY" style="margin: 0;">Кыр</button>
				</div>
				<div class="contact">
					<img src="/resource/icon/phone.png" alt="" class="icon">
					<span style="margin-right: 20px;">+996 (312) 66-57-25</span>
					<img src="/resource/icon/location.png" alt="" class="icon">
					<span style="">г.Бишкек, ул. Ж.Абдрахманова 170 А</span>
				</div>
				<div class="socWeb">
					<a href=""><img src="/resource/icon/facebook.png" alt=""></a>
					<a href=""><img src="/resource/icon/instagram.png" alt=""></a>
					<a href=""><img src="/resource/icon/telegram.png" alt=""></a>
				</div>
			</div>
			<div class="header__nav">
				<a data-lang="nav-Main"	href="/index.html" class="link"></a>
				<a data-lang="nav-AboutUs"	href="/templates/About-us/index.html" class="link"></a>
				<a data-lang="nav-Departments"	href="/templates/Departments/index.html" class="link"></a>
				<a data-lang="nav-Book"	href="/templates/Book-catalog/index.html" class="link"></a>
				<a data-lang="nav-Chronicle"	href="/templates/Chronicles/index.html" class="link"></a>
				<a data-lang="nav-OnlineService"	href="/templates/Online-services/index.html" class="link"></a>
				<a data-lang="nav-News"	href="/templates/News/index.html" class="link active"></a>
				<a data-lang="nav-Contacts"	href="/Contacts.html" class="link"></a>
				<!-- <a href="/Application.html" class="link">Подача заявки</a> -->
			</div>
		</div>
		<div id="burger">
			<div>
				<a data-lang="nav-Main"	href="/index.html" class="link"></a>
				<a data-lang="nav-AboutUs"	href="/templates/About-us/index.html" class="link"></a>
				<a data-lang="nav-Departments"	href="/templates/Departments/index.html" class="link"></a>
				<a data-lang="nav-Book"	href="/templates/Book-catalog/index.html" class="link"></a>
				<a data-lang="nav-Chronicle"	href="/templates/Chronicles/index.html" class="link"></a>
				<a data-lang="nav-OnlineService"	href="/templates/Online-services/index.html" class="link"></a>
				<a data-lang="nav-News"	href="/templates/News/index.html" class="link active"></a>
				<a data-lang="nav-Contacts"	href="/Contacts.html" class="link"></a>
				<!-- <a href="/Application.html" class="link">Подача заявки</a> -->
			</div>

			<div class="socWeb" style="display: flex; flex-direction: row;">
				<a href=""><img src="/resource/icon/facebook.png" alt=""></a>
				<a href=""><img src="/resource/icon/instagram.png" alt=""></a>
				<a href=""><img src="/resource/icon/telegram.png" alt=""></a>
			</div>
		</div>

		<div class="banner">
			<img src="/resource/MainBan.jpg" alt="">
		</div>

		<div class="main">

			<section class="NewsPage">
				<span>Государственная книжная палата Кыргызской Республики и издатели обсудили вопросы цифровизации и развития книжной отрасли</span>
				<div class="sectionPadding"></div>
				<p>

Директор Государственной книжной палаты Кыргызской Республики, профессор Жылдыз Бакашова  провела рабочую встречу с руководителями ведущих издательских домов страны. На встрече приняли участие директора издательских домов: “Дарак” - С.Идирисов, “Китепстан” - Б.Абдуллаев, “Мурас” - Н.Мурзаев, “Шам” - К.Сатыкулов, “Кадам” - З.Таштемиров, “Таалим” -  К.Акматов и др.
<br>
<br>
Основной целью встречи стало обсуждение вопросов развития издательской отрасли, укрепления взаимодействия между Государственной книжной палатой и издательским сообществом, совершенствования системы государственного библиографического учета, а также реализации современных цифровых решений в сфере книгоиздания.
<br>
<br>
Открывая встречу, директор Государственной книжной палаты Кыргызской Республики Жылдыз Бакашова ознакомила участников с приоритетными направлениями деятельности учреждения, рассказала о проводимой работе по регистрации печатной продукции, присвоению международных стандартных номеров ISBN, ISSN и ISMN, учету обязательных экземпляров документов и формированию Национального архивного фонда печати Кыргызской Республики.
<br>
<br>
Особое внимание было уделено вопросам цифровизации отрасли. Участники обсудили внедрение электронного взаимодействия между издательствами и Государственной книжной палатой, развитие электронных сервисов, создание Национального электронного архива печати Кыргызской Республики, а также порядок предоставления электронных версий изданий в целях их долгосрочного сохранения и государственного библиографического учета.
<br>
<br>
В ходе встречи состоялся конструктивный обмен мнениями по актуальным вопросам издательской деятельности, развитию книжного рынка, поддержке отечественного книгоиздания, соблюдению законодательства в сфере издательского дела и авторского права, а также сохранению национального документального наследия.
<br>
<br>
Руководители издательств выразили заинтересованность в дальнейшем сотрудничестве и поддержали инициативы, направленные на модернизацию отрасли, повышение качества издательской продукции и развитие цифровой инфраструктуры книжной сферы.
<br>
<br>
По итогам встречи стороны договорились продолжить совместную работу по совершенствованию механизмов взаимодействия, внедрению современных технологий и реализации проектов, способствующих развитию книжной культуры и сохранению интеллектуального наследия Кыргызской Республики.
<br>
<br>
Государственная книжная палата Кыргызской Республики продолжит системную работу по развитию национального книгоиздания, сохранению печатного наследия страны и внедрению современных цифровых технологий в деятельность отрасли.
				</p>

				<div class="sectionPadding"></div>

				<img src="news/news-1/image-1.jpg" alt="" class="mainImg">

				<div class="newsImgs">
					<img src="news/news-1/image-1.jpg" alt="" class="item">
					<img src="news/news-1/image-2.jpg" alt="" class="item">
					<img src="news/news-1/image-3.jpg" alt="" class="item">
				</div>
			</section>

			<div class="sectionPadding"></div>

			<div class="NewsPage-bottom">
				<span style="align-self: flex-end;">17.06.2026</span>

				<div>
					<button id="NewsPagePrev">Предедущая</button>
					<button id="NewsPageNext">Следующая</button>
				</div>
			</div>

			<div class="sectionPadding"></div>
		</div>
	</div>

	<footer>
		<div>
			<p>
				г. Бишкек, ул. Ж.Абдрахманова 170 А
				<br>
				<br>
				kitep.palatasy@mail.ru
				<br>
				<br>
				+996 (312) 66-57-25
			</p>

			<img src="/resource/icon/logo.png" alt="">

			<div class="footerContants">
				<a href=""><img src="/resource/icon/footerFacebook.png" alt=""></a>
				<a href=""><img src="/resource/icon/footerInstagram.png" alt=""></a>
				<a href=""><img src="/resource/icon/footerTelegram.png" alt=""></a>
			</div>
		</div>
		<span>© 2026 Государственная книжная палата при Министерстве культуры, информации и молодежной политики Кыргызской Республики</span>
	</footer>
	<script src="/resource/js/newsPageView.js"></script>
	<script src="/resource/js/burger.js"></script>
	<script src="/resource/js/lang.js"></script>
	<script src="/resource/js/newsGenerator.js"></script>

	<script>
		function changeLang() {
			if (localStorage.getItem('language') === 'RU') {
				document.querySelector('.NewsPage').querySelector('span').innerText = 'Государственная книжная палата Кыргызской Республики и издатели обсудили вопросы цифровизации и развития книжной отрасли'
				document.querySelector('.NewsPage').querySelector('p').innerText = 
				`Директор Государственной книжной палаты Кыргызской Республики, профессор Жылдыз Бакашова  провела рабочую встречу с руководителями ведущих издательских домов страны. На встрече приняли участие директора издательских домов: “Дарак” - С.Идирисов, “Китепстан” - Б.Абдуллаев, “Мурас” - Н.Мурзаев, “Шам” - К.Сатыкулов, “Кадам” - З.Таштемиров, “Таалим” -  К.Акматов и др.

				Основной целью встречи стало обсуждение вопросов развития издательской отрасли, укрепления взаимодействия между Государственной книжной палатой и издательским сообществом, совершенствования системы государственного библиографического учета, а также реализации современных цифровых решений в сфере книгоиздания.

				Открывая встречу, директор Государственной книжной палаты Кыргызской Республики Жылдыз Бакашова ознакомила участников с приоритетными направлениями деятельности учреждения, рассказала о проводимой работе по регистрации печатной продукции, присвоению международных стандартных номеров ISBN, ISSN и ISMN, учету обязательных экземпляров документов и формированию Национального архивного фонда печати Кыргызской Республики.

				Особое внимание было уделено вопросам цифровизации отрасли. Участники обсудили внедрение электронного взаимодействия между издательствами и Государственной книжной палатой, развитие электронных сервисов, создание Национального электронного архива печати Кыргызской Республики, а также порядок предоставления электронных версий изданий в целях их долгосрочного сохранения и государственного библиографического учета.

				В ходе встречи состоялся конструктивный обмен мнениями по актуальным вопросам издательской деятельности, развитию книжного рынка, поддержке отечественного книгоиздания, соблюдению законодательства в сфере издательского дела и авторского права, а также сохранению национального документального наследия.

				Руководители издательств выразили заинтересованность в дальнейшем сотрудничестве и поддержали инициативы, направленные на модернизацию отрасли, повышение качества издательской продукции и развитие цифровой инфраструктуры книжной сферы.

				По итогам встречи стороны договорились продолжить совместную работу по совершенствованию механизмов взаимодействия, внедрению современных технологий и реализации проектов, способствующих развитию книжной культуры и сохранению интеллектуального наследия Кыргызской Республики.

				Государственная книжная палата Кыргызской Республики продолжит системную работу по развитию национального книгоиздания, сохранению печатного наследия страны и внедрению современных цифровых технологий в деятельность отрасли.`

			}else if (localStorage.getItem('language') === 'KY'){
				document.querySelector('.NewsPage').querySelector('span').innerText = 'Кыргыз Республикасынын Мамлекеттик китеп палатасы менен басма үйлөрү китеп тармагын өнүктүрүү жана санариптештирүү маселелерин талкуулашты'
				document.querySelector('.NewsPage').querySelector('p').innerText = 
				`Кыргыз Республикасынын Мамлекеттик китеп палатасынын директору, профессор Жылдыз Бакашова өлкөдөгү алдыңкы басма үйлөрүнүн жетекчилери менен жумушчу жолугушуу өткөрдү.

				Жолугушууга «Дарак» басма үйүнүн директору С. Идрисов, «Китепстан» басма үйүнүн директору Б. Абдуллаев, «Мурас» басма үйүнүн директору Н. Мурзаев, «Шам» басма үйүнүн директору К. Сатыкулов, «Кадам» басма үйүнүн директору З. Таштемиров, «Таалим» басма үйүнүн директору К. Акматов жана башка басма тармагынын өкүлдөрү катышты.

				Жолугушуунун жүрүшүндө китеп чыгаруу тармагын өнүктүрүү, басылмаларды мамлекеттик каттоо, ISBN, ISSN жана ISMN эл аралык стандарттык номерлерин ыйгаруу, милдеттүү нускаларды кабыл алуу, ошондой эле басма ишин санариптештирүү маселелери талкууланды.

				Тараптар китеп тармагындагы өз ара кызматташууну кеңейтүү, улуттук басма мурастарын сактоо, Улуттук электрондук басма архивин түзүү жана басма үйлөрү менен Мамлекеттик китеп палатасынын ортосундагы электрондук өз ара аракеттенүүнү өнүктүрүү боюнча пикир алмашышты.

				Кыргыз Республикасынын Мамлекеттик китеп палатасында өлкөнүн алдыңкы басма үйлөрүнүн жетекчилери менен жумушчу жолугушуу болуп өттү.

				Жолугушуунун негизги максаты — басма тармагындагы өз ара кызматташтыкты чыңдоо, китеп чыгаруу ишин өркүндөтүү, мамлекеттик библиографиялык эсепке алууну жакшыртуу жана тармактагы санариптик трансформация маселелерин талкуулоо болду.

				Иш-чаранын жүрүшүндө Кыргыз Республикасынын Мамлекеттик китеп палатасынын директору Жылдыз Бакашова мекеменин алдыдагы негизги артыкчылыктуу багыттары тууралуу маалымат берип, басма продукцияларын каттоо, ISBN, ISSN жана ISMN эл аралык стандарттык номерлерин ыйгаруу, милдеттүү нускаларды кабыл алуу, ошондой эле Улуттук электрондук басма архивин түзүү боюнча жүргүзүлүп жаткан иштерге токтолду.

				Өзгөчө көңүл мамлекеттик кызматтарды санариптештирүүгө бурулуп, басмаканалар жана басма үйлөрү менен өз ара аракеттенүүнү электрондук форматка өткөрүү маселелери талкууланды. Катышуучулар жаңы санариптик мүмкүнчүлүктөр, электрондук документ жүгүртүү, маалымат алмашуу жана электрондук кызмат көрсөтүүлөр боюнча пикир алышышты.

				Жолугушуунун алкагында басма ишмердүүлүгүнүн актуалдуу маселелери, китеп рыногун өнүктүрүү, улуттук китеп өндүрүшүнүн сапатын жогорулатуу, автордук укуктарды коргоо жана өлкөнүн басма мурасын сактоо боюнча сунуштар айтылды.

				Жолугушуунун жыйынтыгында тараптар мамлекеттик органдар менен басма коомчулугунун ортосундагы өнөктөштүктү мындан ары да бекемдөө, маалыматтык өз ара аракеттенүүнү күчөтүү жана китеп маданиятын өнүктүрүүгө багытталган биргелешкен демилгелерди ишке ашыруу боюнча макулдашышты.

				Кыргыз Республикасынын Мамлекеттик китеп палатасы өлкөдөгү басма тармагын өнүктүрүү, улуттук китеп мурасын сактоо жана заманбап санариптик технологияларды киргизүү боюнча иштерди мындан ары да ырааттуу улантат.`
			}
		}
	</script>
</body>
</html>