<!-- Книги -->
<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Книги</title>
	<link rel="icon" href="/resource/icon/logo.ico">

	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.7.2/css/all.css">

	<link rel="stylesheet" href="/resource/css/style.css">

</head>
<body>
	<div class="container">
		<div class="header">
			<div id="nav-icon6">
			    <span></span>
			</div>

			<div class="header__1">
				<div class="selectLang" style="display:flex;justify-content: space-between;width:145px;">
					<a href="#" class="link active" style="margin: 0;">Рус</a>
					<a href="#" class="link" style="margin: 0;">Кыр</a>
				</div>
				<div class="contact">
					<img src="/resource/icon/phone.png" alt="" class="icon">
					<span style="margin-right: 20px;">+996 (312) 66-57-25</span>
					<img src="/resource/icon/location.png" alt="" class="icon">
					<span style="">г.Бишкек, ул. Ж.Абдрахманова 170 А</span>
				</div>
				<div class="socWeb">
					<a href=""><img src="/resource/icon/facebook.png" alt=""></a>
					<a href=""><img src="/resource/icon/instagram.png" alt=""></a>
					<a href=""><img src="/resource/icon/telegram.png" alt=""></a>
				</div>
			</div>
			<div class="header__nav">
				<a href="/index.html" class="link">Главная</a>
				<a href="/templates/About-us/index.html" class="link">О нас</a>
				<a href="/templates/Departments/index.html" class="link">Отделы</a>
				<a href="/templates/Book-catalog/index.html" class="link active">Книги</a>
				<a href="/templates/Chronicles/index.html" class="link">Летописи</a>
				<a href="/templates/Online-services/index.html" class="link">Online услуги</a>
				<a href="/templates/News/index.html" class="link">Новости</a>
				<a href="/Contacts.html" class="link">Контакты</a>
				<!-- <a href="/Application.html" class="link">Подача заявки</a> -->
			</div>
		</div>
		<div id="burger">
			<div>
				<a href="/index.html" class="link">Главная</a>
				<a href="/templates/About-us/index.html" class="link">О нас</a>
				<a href="/templates/Departments/index.html" class="link">Отделы</a>
				<a href="/templates/Book-catalog/index.html" class="link active">Книги</a>
				<a href="/templates/Chronicles/index.html" class="link">Летописи</a>
				<a href="/templates/Online-services/index.html" class="link">Online услуги</a>
				<a href="/templates/News/index.html" class="link">Новости</a>
				<a href="/Contacts.html" class="link">Контакты</a>
				<!-- <a href="/Application.html" class="link">Подача заявки</a> -->
			</div>

			<div class="socWeb" style="display: flex; flex-direction: row;">
				<a href=""><img src="/resource/icon/facebook.png" alt=""></a>
				<a href=""><img src="/resource/icon/instagram.png" alt=""></a>
				<a href=""><img src="/resource/icon/telegram.png" alt=""></a>
			</div>
		</div>

		<div class="banner">
			<img src="/resource/MainBan.jpg" alt="">
		</div>

		<div class="main">

			<section class="bookCatalog">
				<div class="elBook elBlock">
					<img src="books/book-1.jpg" alt="">
					<div class="elBookInfo">
						<span class="elBookTitle">Название: <span style="color: #000;"> Плаха</span></span>
						<span class="elBookAuthor">Автор: <span style="color: #000;">Чингиз Айтматов</span></span>
						<br>
						<p class="elBookDesc">Описание: <span style="color: #000;">Повесть о любви, верности и жизненных испытаниях. Трогательная история, наполненная глубокими чувствами, национальным колоритом и философскими размышлениями о человеческих ценностях. Произведение является одним из самых известных в творчестве Чингиза Айтматова и занимает особое место в кыргызской и мировой литературе</span></p>
						<a href="/resource/library/books/book-1.pdf" target="_blank" rel="noopener noreferrer" style="color: #3158B0; cursor: pointer; width: auto; margin-top: auto;">Открыть книгу</a>
					</div>
				</div>
				<div class="elBook elBlock">
					<img src="books/book.jpg" alt="">
					<div class="elBookInfo">
						<span class="elBookTitle">Название: <span style="color: #000;"> Тополек мой в красной косынке</span></span>
						<span class="elBookAuthor">Автор: <span style="color: #000;">Чингиз Айтматов</span></span>
						<br>
						<p class="elBookDesc">Описание: <span style="color: #000;">Повесть о любви, верности и жизненных испытаниях. Трогательная история, наполненная глубокими чувствами, национальным колоритом и философскими размышлениями о человеческих ценностях. Произведение является одним из самых известных в творчестве Чингиза Айтматова и занимает особое место в кыргызской и мировой литературе</span></p>
					</div>
				</div>
				<div class="elBook elBlock">
					<img src="books/book.jpg" alt="">
					<div class="elBookInfo">
						<span class="elBookTitle">Название: <span style="color: #000;"> Тополек мой в красной косынке</span></span>
						<span class="elBookAuthor">Автор: <span style="color: #000;">Чингиз Айтматов</span></span>
						<br>
						<p class="elBookDesc">Описание: <span style="color: #000;">Повесть о любви, верности и жизненных испытаниях. Трогательная история, наполненная глубокими чувствами, национальным колоритом и философскими размышлениями о человеческих ценностях. Произведение является одним из самых известных в творчестве Чингиза Айтматова и занимает особое место в кыргызской и мировой литературе</span></p>
					</div>
				</div>
				<div class="elBook elBlock">
					<img src="books/book.jpg" alt="">
					<div class="elBookInfo">
						<span class="elBookTitle">Название: <span style="color: #000;"> Тополек мой в красной косынке</span></span>
						<span class="elBookAuthor">Автор: <span style="color: #000;">Чингиз Айтматов</span></span>
						<br>
						<p class="elBookDesc">Описание: <span style="color: #000;">Повесть о любви, верности и жизненных испытаниях. Трогательная история, наполненная глубокими чувствами, национальным колоритом и философскими размышлениями о человеческих ценностях. Произведение является одним из самых известных в творчестве Чингиза Айтматова и занимает особое место в кыргызской и мировой литературе</span></p>
					</div>
				</div>
				<div class="elBook elBlock">
					<img src="books/book.jpg" alt="">
					<div class="elBookInfo">
						<span class="elBookTitle">Название: <span style="color: #000;"> Тополек мой в красной косынке</span></span>
						<span class="elBookAuthor">Автор: <span style="color: #000;">Чингиз Айтматов</span></span>
						<br>
						<p class="elBookDesc">Описание: <span style="color: #000;">Повесть о любви, верности и жизненных испытаниях. Трогательная история, наполненная глубокими чувствами, национальным колоритом и философскими размышлениями о человеческих ценностях. Произведение является одним из самых известных в творчестве Чингиза Айтматова и занимает особое место в кыргызской и мировой литературе</span></p>
					</div>
				</div>
				<div class="elBook elBlock">
					<img src="books/book.jpg" alt="">
					<div class="elBookInfo">
						<span class="elBookTitle">Название: <span style="color: #000;"> Тополек мой в красной косынке</span></span>
						<span class="elBookAuthor">Автор: <span style="color: #000;">Чингиз Айтматов</span></span>
						<br>
						<p class="elBookDesc">Описание: <span style="color: #000;">Повесть о любви, верности и жизненных испытаниях. Трогательная история, наполненная глубокими чувствами, национальным колоритом и философскими размышлениями о человеческих ценностях. Произведение является одним из самых известных в творчестве Чингиза Айтматова и занимает особое место в кыргызской и мировой литературе</span></p>
					</div>
				</div>
				<div class="elBook elBlock">
					<img src="books/book.jpg" alt="">
					<div class="elBookInfo">
						<span class="elBookTitle">Название: <span style="color: #000;"> Тополек мой в красной косынке</span></span>
						<span class="elBookAuthor">Автор: <span style="color: #000;">Чингиз Айтматов</span></span>
						<br>
						<p class="elBookDesc">Описание: <span style="color: #000;">Повесть о любви, верности и жизненных испытаниях. Трогательная история, наполненная глубокими чувствами, национальным колоритом и философскими размышлениями о человеческих ценностях. Произведение является одним из самых известных в творчестве Чингиза Айтматова и занимает особое место в кыргызской и мировой литературе</span></p>
					</div>
				</div>
				<div class="elBook elBlock">
					<img src="books/book.jpg" alt="">
					<div class="elBookInfo">
						<span class="elBookTitle">Название: <span style="color: #000;"> Тополек мой в красной косынке</span></span>
						<span class="elBookAuthor">Автор: <span style="color: #000;">Чингиз Айтматов</span></span>
						<br>
						<p class="elBookDesc">Описание: <span style="color: #000;">Повесть о любви, верности и жизненных испытаниях. Трогательная история, наполненная глубокими чувствами, национальным колоритом и философскими размышлениями о человеческих ценностях. Произведение является одним из самых известных в творчестве Чингиза Айтматова и занимает особое место в кыргызской и мировой литературе</span></p>
					</div>
				</div>
				<div class="elBook elBlock">
					<img src="books/book.jpg" alt="">
					<div class="elBookInfo">
						<span class="elBookTitle">Название: <span style="color: #000;"> Тополек мой в красной косынке</span></span>
						<span class="elBookAuthor">Автор: <span style="color: #000;">Чингиз Айтматов</span></span>
						<br>
						<p class="elBookDesc">Описание: <span style="color: #000;">Повесть о любви, верности и жизненных испытаниях. Трогательная история, наполненная глубокими чувствами, национальным колоритом и философскими размышлениями о человеческих ценностях. Произведение является одним из самых известных в творчестве Чингиза Айтматова и занимает особое место в кыргызской и мировой литературе</span></p>
					</div>
				</div>
				<div class="elBook elBlock">
					<img src="books/book.jpg" alt="">
					<div class="elBookInfo">
						<span class="elBookTitle">Название: <span style="color: #000;"> Тополек мой в красной косынке</span></span>
						<span class="elBookAuthor">Автор: <span style="color: #000;">Чингиз Айтматов</span></span>
						<br>
						<p class="elBookDesc">Описание: <span style="color: #000;">Повесть о любви, верности и жизненных испытаниях. Трогательная история, наполненная глубокими чувствами, национальным колоритом и философскими размышлениями о человеческих ценностях. Произведение является одним из самых известных в творчестве Чингиза Айтматова и занимает особое место в кыргызской и мировой литературе</span></p>
					</div>
				</div>
			</section>

			<div class="sectionPadding"></div>

			<div class="pagination">
				<button id="pageLeft" class="disabled"><i class="fa-solid fa-angle-left"></i></button>
				<button id="pageBtn-1" class="active">1</button>
				<button id="pageBtn-2">2</button>
				<button id="pageBtn-3">3</button>
				<button id="pageBtn-4">4</button>
				<button id="pageBtn-5">5</button>
				<button id="pageRight"><i class="fa-solid fa-angle-right"></i></button>
			</div>

			<div class="sectionPadding"></div>
		</div>
	</div>

	<footer>
		<div>
			<p>
				г. Бишкек, ул. Ж.Абдрахманова 170 А
				<br>
				<br>
				kitep.palatasy@mail.ru
				<br>
				<br>
				+996 (312) 66-57-25
			</p>

			<img src="/resource/icon/logo.png" alt="">

			<div class="footerContants">
				<a href=""><img src="/resource/icon/footerFacebook.png" alt=""></a>
				<a href=""><img src="/resource/icon/footerInstagram.png" alt=""></a>
				<a href=""><img src="/resource/icon/footerTelegram.png" alt=""></a>
			</div>
		</div>
		<span>© 2026 Государственная книжная палата при Министерстве культуры, информации и молодежной политики Кыргызской Республики</span>
	</footer>
	<script src="/resource/js/burger.js"></script>

	<script src="/resource/js/pagination.js"></script>
</body>
</html>