<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title data-lang='titleAboutUs'>О нас</title>
	<link rel="icon" href="/resource/icon/logo.ico">

	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.7.2/css/all.css">

	<link rel="stylesheet" href="/resource/css/style.css">
</head>
<body>
	<div class="container">
		<div class="header">
			<div id="nav-icon6">
			    <span></span>
			</div>

			<div class="header__1">
				<div class="selectLang" style="display:flex;justify-content: space-between;width:145px;">
					<button onclick="setLanguage('RU')" class="link active RU" style="margin: 0;">Рус</button>
					<button onclick="setLanguage('KY')" class="link KY" style="margin: 0;">Кыр</button>
				</div>
				<div class="contact">
					<img src="/resource/icon/phone.png" alt="" class="icon">
					<span style="margin-right: 20px;">+996 (312) 66-57-25</span>
					<img src="/resource/icon/location.png" alt="" class="icon">
					<span style="">г.Бишкек, ул. Ж.Абдрахманова 170 А</span>
				</div>
				<div class="socWeb">
					<a href=""><img src="/resource/icon/facebook.png" alt=""></a>
					<a href=""><img src="/resource/icon/instagram.png" alt=""></a>
					<a href=""><img src="/resource/icon/telegram.png" alt=""></a>
				</div>
			</div>
			<div class="header__nav">
				<a data-lang="nav-Main"	href="/index.html" class="link"></a>
				<a data-lang="nav-AboutUs"	href="/templates/About-us/index.html" class="link active"></a>
				<a data-lang="nav-Departments"	href="/templates/Departments/index.html" class="link"></a>
				<a data-lang="nav-Book"	href="/templates/Book-catalog/index.html" class="link"></a>
				<a data-lang="nav-Chronicle"	href="/templates/Chronicles/index.html" class="link"></a>
				<a data-lang="nav-OnlineService"	href="/templates/Online-services/index.html" class="link"></a>
				<a data-lang="nav-News"	href="/templates/News/index.html" class="link"></a>
				<a data-lang="nav-Contacts"	href="/Contacts.html" class="link"></a>
				<!-- <a href="/Application.html" class="link">Подача заявки</a> -->
			</div>
		</div>
		<div id="burger">
			<div>
				<a data-lang="nav-Main"	href="/index.html" class="link"></a>
				<a data-lang="nav-AboutUs"	href="/templates/About-us/index.html" class="link active"></a>
				<a data-lang="nav-Departments"	href="/templates/Departments/index.html" class="link"></a>
				<a data-lang="nav-Book"	href="/templates/Book-catalog/index.html" class="link"></a>
				<a data-lang="nav-Chronicle"	href="/templates/Chronicles/index.html" class="link"></a>
				<a data-lang="nav-OnlineService"	href="/templates/Online-services/index.html" class="link"></a>
				<a data-lang="nav-News"	href="/templates/News/index.html" class="link"></a>
				<a data-lang="nav-Contacts"	href="/Contacts.html" class="link"></a>
				<!-- <a href="/Application.html" class="link">Подача заявки</a> -->
			</div>

			<div class="socWeb" style="display: flex; flex-direction: row;">
				<a href=""><img src="/resource/icon/facebook.png" alt=""></a>
				<a href=""><img src="/resource/icon/instagram.png" alt=""></a>
				<a href=""><img src="/resource/icon/telegram.png" alt=""></a>
			</div>
		</div>

		<div class="banner">
			<img src="/resource/MainBan.jpg" alt="">
		</div>

		<div class="main">

			<section class="section__2" id="BlockContent">

			</section>

			<div class="sectionPadding"></div>
		</div>
	</div>
	
	<footer>
		<div>
			<p>
				г. Бишкек, ул. Ж.Абдрахманова 170 А
				<br>
				<br>
				kitep.palatasy@mail.ru
				<br>
				<br>
				+996 (312) 66-57-25
			</p>

			<img src="/resource/icon/logo.png" alt="">

			<div class="footerContants">
				<a href=""><img src="/resource/icon/footerFacebook.png" alt=""></a>
				<a href=""><img src="/resource/icon/footerInstagram.png" alt=""></a>
				<a href=""><img src="/resource/icon/footerTelegram.png" alt=""></a>
			</div>
		</div>
		<span>© 2026 Государственная книжная палата при Министерстве культуры, информации и молодежной политики Кыргызской Республики</span>
	</footer>

	<script src="/resource/js/lang.js"></script>

	<script>
		async function loadStaff(lang) {
		    const response = await fetch(`/resource/lang/AboutUs-${lang}.html`);
		    const html = await response.text();

		    document.getElementById('BlockContent').innerHTML = html;
		}
	</script>

	<script src="/resource/js/burger.js"></script>
</body>
</html>